<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>Predict which user will predict given tweet</h1>
    <form action="/prediction" method="POST">
    <label>Twitter User A:</label>
    <input type="text" name="User_A" placeholder="Name here" value="name here">
    <label>Twitter User B:</label>
    <input type="text" name="User_B" placeholder="Name here" value="name here">
    <label>Tweet:</label>
    <input type="text" name="tweet" placeholder="tweet here" value="tweet here">
    <button>Submit</button>
    <li><a href="/">Return Home</a></li>
</form>
</body>
</html>