<html>
<body>
    <h3>Iris Flower Measurements</h3>
<div>
    <form action="/result" method="POST">
        <label for="SepalLengthCm">Sepal Length CM</label>
        <input type="text" id="SepalLengthCm" name="SepalLengthCm">
        <label for="SepalWidthCm">Sepal Width CM</label>
        <input type="text" id="SepalWidthCm" name="SepalWidthCm">
        <label for="PetalLengthCm">Petal Length CM</label>
        <input type="text" id="PetalLengthCm" name="PetalLengthCm">
        <label for="PetalWidthCm">Petal Width CM</label>
        <input type="text" id="PetalWidthCm" name="PetalWidthCm">
        
    </form>
</div>
</body>
</html>