<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://unpkg.com/picnic" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}" type="text/css" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav>
        <a href="/" class="brand"><span>AirQuality Dashboard</span></a>
        <!-- Create menu -->
        <input id="bmenub" type="checkbox" class="show">
        <label for="bmenub" class="burger pseudo button">=</label>
        <div class="menu">
            <a href="http://jordan-ireland.com" class="button">Website</a>
            <a href="https://github.com/Jordan-Ireland" class="button">Twitter</a>
        </div>
    </nav>
    <div class="container content">
        <div class="row">
            <div class="col-md-5">
                <form action="#" id="search">
                    <label for="country_name">Country</label>
                    <input id="country_name" name="country_name" placeholder="Country" value="US" >

                    <label for="city_name">City</label>
                    <input id="city_name" name="city_name" placeholder="City" value="Los Angeles">

                    <input onclick="Search(event)" type="submit" value="Submit">
                </form>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6">

            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="{{ url_for('static',filename='js/main.js') }}" type="text/javascript"></script>

</body>
</html>