web_app/templates/layout.html

<!doctype html>
<html>
  <head>
    {% block title %}
      <title>First Web App | Working with Twitter API.</title>
    {% endblock %}
  </head>

  <body>

    <!-- SITE NAVIGATION -->
    <div class="container">
      <div id="nav">
        {% block nav %}
          <h1><a href="/">My Web App</a></h1>
          <ul>
            <li><a href="/tweets">tweets Page</a></li>
            <li><a href="/tweets/new">New tweet Form</a></li>
          </ul>
        {% endblock %}
      </div>
      <hr>

      <!-- PAGE CONTENTS -->
      <div id="content">
        {% block content %}
        {% endblock %}
      </div>

      <!-- FOOTER -->
      <div id="footer">
        <hr>
        &copy; Copyright 2020 [MICHAEL TOCE] |
        <a href="https://github.com/mtoce">source</a>
      </div>
    </div>

  </body>
</html>