<!-- web_app/templates/new_tweet.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% extends "bootstrap_layout.html" %}
{% set active_page = "new_tweet" %}

{% block content %}
    <h1>New tweets Page</h1>

    <p>Please fill out the form below to add a new tweet to the database:</p>
@@ -27,11 +22,4 @@ <h1>New tweets Page</h1>
        <button>Submit</button>
    </form>







</body>
</html>
{% endblock %}