<html>
<body>
    <h3>Iris Flower Measurements</h3>
    
    <div>
        <form action='/result' method="POST">
            <label for="SepalLengthCm">Sepal Length CM</label>
                <input type="text" id="SepalLengthCm" name="SepalLengthCm">
                <br>
            <label for="SepalWidthCm">Sepal Width CM</label>
                <input type="text" id="SepalWidthCm"" name="SepalWidthCm"">
                <br
            <label for="PetalLengthCm">Petal Length CM</label>
                <input type="text" id="PetalLengthCm" name="PetalLengthCm">
                <br>
            <label for="PetalWidthCm">Petal Width CM</label>
                <input type="text" id="PetalWidthCm"" name="PetalWidthCm"">
                <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>