<!DOCTYPE html>
<html>
  <head>
    <title>TwitOff - {{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic"/>
  </head>
  <body>
    <nav>
      <a href="/" class="brand"><span>TwitOff!</span></a>

      <!-- responsive-->
      <input id="bmenub" type="checkbox" class="show">
      <label for="bmenub" class="burger pseudo button">Menu</label>

      <div class="menu">
        <a href="/update" class="button warning">Update Tweets</a>
      </div>
    </nav>

    <article class="flex two" style="padding: 3em 1em;">
      {% block content %}
      <div>
        <h1>{{ title }}</h1>
        <form action="/compare" method="post">
          <select name="user1">
            {% for user in users %}
            <option value="{{ user.name }}">{{ user.name }}</option>
            {% endfor %}
          </select>
          <select name="user2">
            {% for user in users %}
            <option value="{{ user.name }}">{{ user.name }}</option>
            {% endfor %}
          </select>
          <input type="text" name="tweet_text" placeholder="Tweet text to predict">
          <input type="submit" value="Compare Users">
        </form>
        <h3>Recent comparisons:</h3>
        {% for comparison in comparisons %}
        <span class="stack">{{ comparison }}</span>
        {% endfor %}
      </div>
      <div>
        <h2>Users</h2>
        {% for user in users %}
        <a href="/user/{{ user.name }}"><span class="stack">{{ user.name }}</span></a>
        {% endfor %}
        <form action="/user" method="post">
          <input type="text" name="user_name" placeholder="User to add">
          <input type="submit" value="Add User">
        </form>
      </div>
      {% endblock %}
    </article>
    <!-- <script src="https://cdn.jsdelivr.net/npm/umbrellajs"/> -->
  </body>
</html>