[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
pylint = "*"
sqlalchemy = "*"
sqalchemy = "*"

[requires]
python_version = "3.7"
