<!DOCTYPE html>
<html>
  <head>
    <title>TwitOff - {{ title }}</title>

    <!-- adding link to picnic css stylesheet -->
    <link rel="stylesheet" href="https://unpkg.com/picnic"/>
  </head>
  <body>
    <nav>
      <a href="/" class="brand"><span>TwitOff!</span></a>

      <!-- Create menu -->
      <input id="bmenub" type="checkbox" class="show">
      <label for="bmenub" class="burger pseudo button">Menu</label>

      <div class="menu">
        <a href="/update" class="button warning">Update Tweets</a>
        <a href="/reset" class="button error">Reset Database</a>
      </div>
    </nav>

    <article class="flex two" style="padding: 3em 1em;">
      {% block content %}
      <div>
        <h1>{{ title }}</h1>

        <!-- create form to compare users -->
        <form action="/compare" method="post">

          <!-- User 1 dropdown -->
          <select name="user1">
            {% for user in users %}
            <option value="{{ user.name }}">{{ user.name }}</option>
            {% endfor %}
          </select>

          <!-- User 2 dropdown -->
          <select name="user2">
            {% for user in users %}
            <option value="{{ user.name }}">{{ user.name }}</option>
            {% endfor %}
          </select>

          <!-- Create text box for end-user to type fake tweet -->
          <input type="text" name="tweet_text" placeholder="Tweet text to predict">
          <input type="submit" value="Compare Users">
        </form>

        <!-- show a list of recent comparisons -->
        <h3>Recent comparisons:</h3>
        {% for comparison in comparisons %}
        <span class="stack">{{ comparison }}</span>
        {% endfor %}
      </div>

      <!-- show a list of available users -->
      <div>
        <h2>Users</h2>
        {% for user in users %}
        <a href="/user/{{ user.name }}"><span class="stack">{{ user.name }}</span></a>
        {% endfor %}

        <!-- create form to add Twitter users -->
        <form action="/user" method="post">
          <input type="text" name="user_name" placeholder="User to add">
          <input type="submit" value="Add User">
        </form>
      </div>
      {% endblock %}
    </article>

    <!-- I'm not sure what the below code does since it's inside a comment -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/umbrellajs"/> -->
  </body>
</html>