{% extends "twbs_layout.html" %}
{% set active_page = "index" %}

{% block content %}
    <h2>Let's make a prediction</h2>

    <p>Use the form below to predict which user is more likely to say a given tweet...</p>

    <form action="/predict" method="POST">

        <label>Twitter User A:</label>
        <select name="screen_name_a">
            <option value="elonmusk" selected="true">@elonmusk</option>
            <option value="justinbieber">@justinbieber</option>
            <option value="s2t2">@s2t2</option>
        </select>
        <br>

        <label>Twitter User B:</label>
        <select name="screen_name_b">
            <option value="elonmusk">@elonmusk</option>
            <option value="justinbieber" selected="true">@justinbieber</option>
            <option value="s2t2">@s2t2</option>
          </select>
        <br>

        <label>Tweet Text:</label>
        <input type="text" name="tweet_text" placeholder="Tesla Model S production facility is great" value="Tesla Model S production facility is great">
        <br>

        <button>Submit</button>
    </form>
{% endblock %}