<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Air Quality Sprint!</title>
  </head>
  <body>
    {% block content %}
    <h1>"Los Angeles" Air Quality</h1>
    <h2>Select a "Los Angeles" (Chile or U.S.) to Compare and find date/time when the PM2.5 value exceeded 10</h2>
    <div>
      <h3><a href="/la-us">Los Angeles, United States</a> </h3>
      <h3><a href="/la">Los Angeles, Chile</a> </h3>
    </div>

    {% endblock %}

    </blockquote>}

  </body>
</html>
