<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hello!</title>
    </head>
    <body>
        <h1>This is the body</h1>
        <div>
        <form action="/result" method="POST">
            <h2>What was the last thing you ate?</h2>
              <input type="text" name="rank">
            
    <br>
            <h2>What was the last role you played in a group project</h2>
            <select name="gp">
            <option value="low">When is this due?</option>
            <option value="mid_low">Y'all need help?</option>
            <option value="mid_high">Everyone needs to pull their weight</option>
            <option value="high">Here, I'll do it</option>
            </select>

            <h2>Do you stay for the entire party or Irish Exit?</h2>
            <select name="mins">
            <option value="low">Irish Exit</option>
            <option value="mid_low">Depends on the party</option>
            <option value="mid_high">Most likely stay</option>
            <option value="high">3am or nothing</option>
            </select>

            <h2>When was the last time you took a trip?</h2>
            <select name="fg_pct">
            <option value="low">10+ years ago</option>
            <option value="mid_low">5 to 10 years ago</option>
            <option value="mid_high">1 to 5 years ago</option>
            <option value="high">Last month</option>
            </select>

            <h2>Do you go big or go home?</h2>
            <select name="fg3_pct">
            <option value="low">Go big</option>
            <option value="high">Go home</option>
            </select>

            <h2>Do you join the mosh pit or take a seat?</h2>
            <select name="reb">
            <option value="low">Give me the seat</option>
            <option value="high">Always there</option>
            </select>

            <h2>Would you rather have your team win or you have all the glory!</h2>
            <select name="stl">
            <option value="low">Give me the glory!</option>
            <option value="high">Let's win this team</option>
            </select>

            <h2>Last time you used a ladder?</h2>
            <select name="blk">
            <option value="low">10+ years ago</option>
            <option value="mid_low">5 to 10 years ago</option>
            <option value="mid_high">1 to 5 years ago</option>
            <option value="high">Last month</option>
            </select>
            <br><br>
            <input type="submit" value="Submit">
          </form>
          </body>
        </div>
    </body>
</html>