[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
basilica = "*"
tweepy = "*"
scikit-learn = "*"
gunicorn = "*"
psycopg2-binary = "*"
python-decouple = "*"

[requires]
python_version = "3.7"
