<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tweets</title>
</head>
<body>
    <h1>Create a fake twitter user that will be added into the database</h1>
    <form action="/create_tweet" method="POST">
    <label>Id</label>
    <input type="text" name="Id" placeholder="id here" value="id here">
    <label>Name</label>
    <input type="text" name ="Name" placeholder="Name here" value="name here">
    <label>Tweet</label>
    <input type="text" name = "Tweet" placeholder="tweet" value="tweet">
    <button>Submit</button>
    </form>
</body>
</html>