<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>New Book Page</h1>

    <p>Please fill out the form and submit to create a new book!</p>

    <form action="/books/create" method="POST">

        <label>Title:</label>
        <input type="text" name="title" placeholder="Book XYZ" value="Book XYZ">

        <label>Author:</label>
        <select name="author_name">
          <option value="A1">Author 1</option>
          <option value="A2">Author 2</option>
          <option value="A3">Author 3</option>
        </select>

        <button>Submit</button>
    </form>
    
</body>
</html>