<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> New Book message </h1>
    <p>fill this form</p>
    <form action="/books/create" method="post">
        <label>Title:</label>
        <input type="text", name="book_title">

        <label>Author</label>
        <select name="author_name">
            <option value="A1">Author 1</option>
            <option value="A2">Author 2</option>
            <option value="A3">Author 3</option>
        </select>
        <button>Submit</button>
    </form>
</body>
</html>