<!DOCTYPE html>
<html>
    <head>
        <title> Los Angeles Air Quality</title>
        <!-- CSS, keywords, metadata goes here -->
    </head>

    <body>
        <h1>Los Angeles Air Quality</h1>
        <h3>All PM 2.5 Records</h3>

        {% block content %}
        <ul>
            {% for record in records %}
            <li>{{ record }}</li>
            {% endfor %}
        </ul>

        <h3>All PM 1.0 Records</h3>

        <ul>
            {% for record in orecords %}
            <li>{{ record }}</li>
            {% endfor %}
        </ul>
        {% endblock %}
    </body>
</html>