<html> 
<head> 
    <title>Nice Table</title> 
</head> 
  
<!-- Adding some style to table (OPTIONAL) -->
<style type="text/css"> 
      
    th:tr{ 
        color: blue; 
  
    } 
    tr:nth-of-type(2n){ 
        border: 1px solid black; 
        background-color: rgba(150, 150, 150, 0.5); 
  
    } 
  
    td{ 
        padding: 8px 8px; 
        border: 1px solid black; 
    } 
</style> 
  
<body> 

<button onclick="window.location.href = 'http://127.0.0.1:5000/refresh';">Refresh</button>
  
<table style="margin-left: 20px;"> 
<!-- Table headers -->
    <th> 
        <tr style="color: green; ">     
        <td>Index</td> 
        <td>Datetime</td> 
        <td>Value</td> 
</tr> 
    </th> 
      
<!-- For loop logic of jinja template -->
{%for i in range(0, len)%} 
  
<!-- table rows -->
<tr> 
    <td>{{i}}</td> 
    <td>{{datetimes[i]}}</td> 
    <td>{{values[i]}}</td> 
  
{%endfor%} 
  
</tr> 
  
</table> 
  
  
</body> 
</html>