{% extends "index.html" %}

{% block body %}
  <input id=city><button id=submit>Retrieve Samples</button>
  <script>
    const button = document.getElementById('submit')
    const input = document.getElementById('city')

    button.onclick = _ => {
      let city = input.value.replace(' ', '-').toLowerCase()
      fetch(`http://${window.location.host}/refresh/${city}`)
        .then(response => {
          window.location = `http://${window.location.host}/${city}`
        })
    }
  </script>
  <hr>
  <h4>{{ city }}</h4>
  {% if samples|length != 0 %}
    <ul>
    {% for sample in samples %}
    <li>{{ sample.datetime }} - {{ sample.value }}</li>
    {% endfor %}
    </ul>
  {% else %}
    <p>No samples able to be retrieved, please select another city.</p>
  {% endif %}
{% endblock %}
