<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>New Users Page</h1>

    <p>Please fill out the form below to add a new user to the database:</p>


    <form action="/users/create" method="POST">

        <label>Twitter Handle:</label>
        <input type="text" name="handle" placeholder="@twitterhandle" value="@twitterhandle">


        <button>Submit</button>
    </form>

</body>
</html>