[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
flask = "*"
flask-sqlalchemy = "*"
requests = "*"
gunicorn = "*"

[requires]
python_version = "3.6"
